<% @shelter = Shelter.find(params[:id]) %>
<h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>


<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><br/><br/>
<%= link_to  "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete, data: {confirm: "Confirm Sheleter Deletion"} %></br>

<%= link_to 'Back to All Shelters', "/shelters" %>
