<h1>All Pets</h1>

<% @pets.each do |pet| %>
<img src = "<%= pet.image %>" alt:="<%= pet.name %>" </br>
<h2><%= pet.name %> </h2>
<p> Age: <%= pet.age %> </p>
<p> Sex: <%= pet.sex %> </p>
<p> Located at: <%= pet.shelter.name %> </p>
<% end %>
