<% @pet = Pet.find(params[:id]) %>
<img src = "<%= @pet.image %>" alt:="<%= @pet.name %>" <br/>
<h2><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %> </h2>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %> |
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, data: {confirm: "Confirm Pet Deletion"} %><br/><br/>
<%= link_to 'Back to All Pets', "/pets" %>
